<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">java</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="classes.statistics.entity.DatumEntity"/>
    <mapping class="classes.statistics.entity.DrugsEntity"/>
    <mapping class="classes.statistics.entity.OrderEntity"/>
  </session-factory>
</hibernate-configuration>